{%- assign page_paths = site.header_pages | default: default_paths -%}
<header>
  <div class="menu">
    <ul>
      <!-- for each page path, we look for the first page whose path matches the path that we specified in the header_pages variable. the header_pages variable allows us to specify what order the links show up as in the header. -->
      {%- for path in page_paths -%}
        {%- assign cur_page = site.pages | where: "path", path | first -%}
        {%- if cur_page.title and cur_page.path == page.path -%} 
          <li><a href="{{ cur_page.url | relative_url }}"><span class="current">{{ cur_page.title | escape }}</span></a></li>
        {%- elsif cur_page.title and cur_page.path != page.path -%}
          <li><a href="{{ cur_page.url | relative_url }}">{{ cur_page.title | escape }}</a></li></span>
        {%- endif -%}
      {%- endfor -%}
    </ul>
  </div>
</header>